$primary: rgb(30, 159, 210);
$textColor:rgb(89, 89, 89);
#root {
  padding-top: 30px;
  font-size: 14px;
  color: $textColor;
  .pageName{
    font-weight: bold;
    color: $primary;
    font-size: 24px;
    padding-bottom: 10px;
  }
}
.roomAllocation{
  border: 1px dashed rgb(153, 153, 153);
  width: 360px;
  min-width: 340px;
  padding: 20px 10px;;
  .guestAllocationBox{
    margin: 10px 0;
    margin-bottom: 20px;
    padding:9px;
    background-color:rgb(238, 250, 255);
  }
  .title{
    font-weight: bold;
  }
  .text1{
    padding-bottom: 2px;
  }
  .text2{
    font-size: 12px;
    color: rgb(153, 153, 153);
  }
  .ant-divider-horizontal{
    margin: 20px 0;
  }
}
.roomBlock{}
.customInputNumberBox{
  .btnBoxStyle{
    text-align: center;
    font-weight: normal;
    opacity: 1;
    box-sizing: border-box;
    width: 48px;
    line-height: calc(44px);
    border-radius: 4px;
  }
  input{
    border-radius: 4px;
    font-size: 16px;
    color: $textColor;
    -webkit-text-fill-color: $textColor;
    border: 1px solid rgb(212, 212, 212);
    margin:0 8px;
  }
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    padding:0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  input:disabled {
    cursor: not-allowed;
  }
  button{
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    border: 1px solid $primary;
    color: $primary;
  }
  .btnDisabledStyle{
    color: $textColor;
    border: 1px solid rgb(191, 191, 191);
    cursor: not-allowed;
  }
}

